services:
  api:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    ports:
      - "4567:4567"
    env_file:
      - ../.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
